[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Design system for Bonzai applications
[access "refs/*"]
	owner = group bonzai-engineering-owners
	owner = group user/Bonzai (bonzaidev)
[access "refs/for/refs/heads/*"]
	push = group bonzai-engineering
	pushMerge = group bonzai-engineering
[access "refs/heads/*"]
	addPatchSet = group bonzai-engineering
	forgeCommitter = group bonzai-engineering
	label-Code-Review = -2..+2 group bonzai-engineering
	label-Verified = -1..+1 group bonzai-engineering
	read = group bonzai-engineering
	submit = group bonzai-engineering
[access "refs/tags/*"]
	read = group bonzai-engineering
