[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Design system for Bonzai applications
[access "refs/*"]
	owner = group user/Debjit Biswas (debjitbis08)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Debjit Biswas (debjitbis08)
	label-Verified = -1..+1 group user/Debjit Biswas (debjitbis08)
	push = group user/Debjit Biswas (debjitbis08)
	read = group user/Debjit Biswas (debjitbis08)
	rebase = group user/Debjit Biswas (debjitbis08)
	removeReviewer = group user/Debjit Biswas (debjitbis08)
	submit = group user/Debjit Biswas (debjitbis08)
[access "refs/heads/*"]
	create = group user/Debjit Biswas (debjitbis08)
	push = +force group user/Debjit Biswas (debjitbis08)
	pushMerge = group user/Debjit Biswas (debjitbis08)
	read = group user/Debjit Biswas (debjitbis08)
[access "refs/tags/*"]
	push = group user/Debjit Biswas (debjitbis08)
	push = +force group user/Debjit Biswas (debjitbis08)
