@import '../colors';

$bonzai--theme--dark: (
    ui-background: $grey10Dark,
    interactive-01: $grey10,
    interactive-02: $green10,
    interactive-03: $grey10Dark,
    interactive-04: $green20Dark,
    interactive-05: $baseWhiteDark,
    text-01: $baseWhiteDark,
    text-02: $grey10Dark,
    text-03: $grey20Dark,
    text-04: $green10Dark,
    text-05: $green20Dark,
    overlay-01: rgba($baseBlack, 0.5)Dark,
    danger: $red10Dark,
    focus: $green20Dark,
    hover-primary: $green10Dark,
    active-primary: $green10Dark,
    hover-primary-text: $green10Dark,
    hover-secondary: $grey10Dark,
    active-secondary: $grey10Dark,
    disabled-01: $grey20Dark,
    brand-01: $baseMidnightBlueDark,
    brand-02: $baseLeafGreenDark,
    ui-1: $green10Dark,
    ui-2: $green20Dark,
    ui-3: $grey10Dark,
    ui-4: $grey20Dark,
    ui-5: $blue10Dark,
    ui-6: $blue20Dark,
    ui-7: $yellow10Dark,
    ui-8: $yellow20Dark,
    ui-9: $red10Dark,
    ui-10: $red20Dark
);
