@import '../colors';

$bonzai--theme--dark: (
    ui-background: $grey10,
    interactive-01: $grey20,
    interactive-02: $grey10,
    interactive-03: $green10,
    interactive-04: $green20,
    text-01: $baseWhite,
    text-02: $grey10,
    text-03: $grey20,
    text-04: $green10,
    text-05: $green20,
    overlay-01: rgba($baseBlack, 0.5),
    danger: $red10,
    focus: $green20,
    hover-primary: $green10,
    active-primary: $green10,
    hover-primary-text: $green10,
    hover-secondary: $grey10,
    active-secondary: $grey10,
    disabled-01: $grey20,
    brand-01: $baseMidnightBlue,
    brand-02: $baseLeafGreen,
    ui-1: $green10,
    ui-2: $green20,
    ui-3: $grey10,
    ui-4: $grey20,
    ui-5: $blue10,
    ui-6: $blue20,
    ui-7: $yellow10,
    ui-8: $yellow20
);
