@import '../tokens';
@import './light-theme';
@import './dark-theme';
@import './default-theme';
@import '../feature-flags';
@import '../mixins';

//@include carbon--theme($carbon--theme--dark);

$carbon--theme: $carbon--theme--light !default;

$feature-flags: (
    enable-css-custom-properties: true
);

.theme--light {
    @include carbon--theme($carbon--theme--light, true);
}
.theme--dark {
    @include carbon--theme($carbon--theme--dark, true);
}
