@import '../tokens';
@import './light-theme';
@import './dark-theme';
@import './default-theme';
@import '../feature-flags';
@import '../mixins';

//@include bonzai--theme($bonzai--theme--dark);

$bonzai--theme: $bonzai--theme--light !default;

$feature-flags: (
    enable-css-custom-properties: true
);

.theme--dark {
    @include bonzai--theme($bonzai--theme--dark, true);
}
.theme--light {
    @include bonzai--theme($bonzai--theme--light, true);
}
