.bz--filter {
    border: 1px solid #D6D9DB ;
    position: relative;
    height: 30px;
    display: flex;
    &:hover {
        border: 1px solid lightgrey;
    }

    &__options {
        background: white;
        max-height: 200px;
        overflow-y: auto;
        position: absolute;
        width: 100%;
        border-bottom: 1px solid #D6D9DB;
        border-left: 1px solid #D6D9DB;
        border-right: 1px solid #D6D9DB;
        z-index: 10;
        top: 29px;
        padding: 0;
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
        border-radius: 2px; 
        border-top-left-radius: 0px; 
        border-top-right-radius: 0px;
        box-sizing: content-box;
        margin: 0px 0px 0px -1px;
    }

    &__filter-option {
        padding-left: 20px;
        height: 30px;
        &:hover {
            background-color: lightgrey;
        }
    }
    &__filter-text {
        line-height: 30px;
        font-size: 15px;
    }

    &__tag {
        z-index: 10;
        width: auto;
        height: 100%;
        white-space: nowrap;

        .bz--tag {
            margin: 0 5px;
            position: relative;
            top: 50%;
            transform: translate(0, -50%);
            font-size: 12px;
            font-weight: 600;
            padding: 1px 5px;
            line-height: 19px;
        }
    }

    .bz--input-wrapper {
        height: 100%;
        flex: 1;
    }

    .bz--input {
        border: none;
        &:hover {
            border: none;
        }
    }

    &__tag-container{
        overflow: hidden;
    }

    .bz--selected {
        background: #dcdcdc;
    }

    .bz--btn{
        padding-right: 2px;
    }

}
