.#{$custom-property-prefix}--btn {
    cursor: pointer;
    transition: all $btn-hover-transition-time ease;
    outline: none;
    box-sizing: border-box;

    &--primary {
        padding: $btn-padding--primary;
        background-color: $btn-bg-color--primary;
        color: $btn-text-color--primary;
        border-radius: $btn-border-radius--primary;
        border: $btn-border-size--primary solid $btn-border-color--primary;
        text-transform: $btn-text-transform--primary;
        font-size: $btn-font-size--primary;

        &:hover {
            background-color: $btn-hover-bg-color--primary;
            color: $btn-hover-text-color--primary;
        }

        &.#{$custom-property-prefix}--btn--disabled {
            background-color: $btn-bg-color--primary-disabled;
            color: $btn-text-color--primary-disabled;
            cursor: not-allowed;
            filter: brightness(1.1);

            &:hover {
                background-color: $btn-bg-color--primary-disabled;
                color: $btn-text-color--primary-disabled;
            }
        }
    }

    &--secondary {
        padding: $btn-padding--secondary;
        background-color: $btn-bg-color--secondary;
        color: $btn-text-color--secondary;
        border-radius: $btn-border-radius--secondary;
        border: $btn-border-size--secondary solid $btn-border-color--secondary;
        text-transform: $btn-text-transform--secondary;
        font-size: $btn-font-size--secondary;

        &:hover {
            background-color: $btn-hover-bg-color--secondary;
        }

        &.#{$custom-property-prefix}--btn--disabled {
            background-color: $btn-bg-color--secondary-disabled;
            color: $btn-text-color--secondary-disabled;
            cursor: not-allowed;
            filter: brightness(1.1);

            &:hover {
                background-color: $btn-bg-color--secondary-disabled;
                color: $btn-text-color--secondary-disabled;
            }
        }
    }

    &--tertiary {
        padding: $btn-padding--tertiary;
        background-color: $btn-bg-color--tertiary;
        color: $btn-text-color--tertiary;
        border-radius: $btn-border-radius--tertiary;
        border: $btn-border-size--tertiary solid $btn-border-color--tertiary;
        text-transform: $btn-text-transform--tertiary;
        font-size: $btn-font-size--tertiary;

        &:hover {
            background-color: $btn-hover-bg-color--tertiary;
            border: $btn-border-size--tertiary solid $btn-hover-border-color--tertiary;
        }

        &.#{$custom-property-prefix}--btn--disabled {
            background-color: $btn-bg-color--tertiary-disabled;
            color: $btn-text-color--tertiary-disabled;
            cursor: not-allowed;
            filter: brightness(1.1);

            &:hover {
                background-color: $btn-bg-color--tertiary-disabled;
                color: $btn-text-color--tertiary-disabled;
            }
        }
    }

    &--anchor {
        padding: 0;
        background-color: transparent;
        color: $btn-text-color--anchor;
        border: none;
        font-size: $btn-font-size--anchor;
        text-decoration: none;

        &:hover {
            color: $btn-hover-text-color--anchor;
        }
    }
}
