//Primary Color

$baseMidnightBlue: rgb(39, 55, 71); //#273747
$baseLeafGreen: rgb(77, 123, 0); //#4d8400
$baseWhite: rgb(255, 255, 255); //#ffffff
$baseBlack: rgb(0, 0, 0); //#000000

//Secondary Color

//Grey
$grey10: rgb(114, 125, 134); //#727D86
$grey20: rgb(214, 217, 219); //#d6d9db

//Green
$green10: rgb(37, 117, 120); //#257578
$green20: rgb(236, 244, 230); //#ecf4e6

//Blue
$blue10: rgb(107, 117, 170); //#6b75aa
$blue20: rgb(174, 197, 231); //#aec5e7

//Yellow
$yellow10: rgb(242, 190, 55); //#f2be37
$yellow20: rgb(245, 229, 140); //#f5e58c

//Red
$red10: rgb(222, 99, 46); //#de632e
$red20: rgb(236, 166, 143); //#eca68f
