.#{$custom-property-prefix}--input-wrapper, .#{$custom-property-prefix}--search-wrapper {
    position: relative;

    .#{$custom-property-prefix}--input-name {
        @include font-size($input-name-font-size);

        color: $input-name-color;
        display: inline-block;
        margin: 0;
        position: absolute;
        top: -8px;
        left: 0;
        transform: translateY(-100%);
        white-space: nowrap;
    }

    .#{$custom-property-prefix}--input-container {
        position: relative;
    }

    .#{$custom-property-prefix}--input {
        @include font-size($input-font-size);

        border: 1px solid $input-border-color;
        border-radius: $input-border-radius;
        background-clip: padding-box;
        background: $input-bg-color;
        color: $input-text-color;
        -webkit-font-smoothing: antialiased;
        outline: none;
        padding: $input-padding;
        letter-spacing: 0.6px;
        box-sizing: border-box;
        position: relative;
        //height: 1.875rem;
        width: 100%;

        &:hover {
            border: 1px solid $input-border-hover-color;
        }

        &__leadingicon {
            padding-left: 30px;
        }

        &__trailingicon {
            padding-right: 30px;
        }
    }
    .#{$custom-property-prefix}--input-leadingicon {
        position: absolute;
        left: 8px;
        top: 50%;
        z-index: 11;
        transform: translateY(-50%);
        cursor: pointer;

        @include font-size($input-leadingicon-font-size);
    }

    .#{$custom-property-prefix}--input-trailingicon {
        position: absolute;
        right: 8px;
        top: 50%;
        z-index: 11;
        transform: translateY(-50%);
        cursor: pointer;

        @include font-size($input-trailingicon-font-size);
    }

    .#{$custom-property-prefix}--input-error-msg {
        color: $input-error-color;
        white-space: nowrap;
        display: inline-block;
        position: absolute;
        bottom: -5px;
        transform: translateY(100%);
        left: 0;

        @include font-size($input-error-font-size);
    }
}

.#{$custom-property-prefix}--input-wrapper__invalid {
    .#{$custom-property-prefix}--input {
        border: 1px solid $input-border-color-error;

        &:hover {
            border: 1px solid $input-border-color-error;
        }
    }
}

.#{$custom-property-prefix}--input-wrapper__inline {
    display: flex;
    align-items: center;

    .#{$custom-property-prefix}--input-name, .#{$custom-property-prefix}--input-error-msg {
        position: initial;
        top: auto;
        left: auto;
        bottom: auto;
        transform: none;
    }

    .#{$custom-property-prefix}--input-name {
        margin-right: 10px;
    }

    .#{$custom-property-prefix}--input-container {
        margin-right: 10px;
    }
}

.#{$custom-property-prefix}--search-wrapper {
    .dropdown {
        border: 1px solid $input-border-color;
        padding: 0;
        margin: 0;
        border-top: none;
        list-style: none;

        &--item {
            @include font-size($input-font-size);

            color: $input-name-color;
            background: $input-bg-color;
            padding: 5px 10px;
            box-sizing: border-box;
            transition: all 0.1s ease;

            &:hover {
                filter: invert(5%);
                cursor: pointer;
            }
        }
    }
}
