@import './var';

@mixin custom-property($name, $value, $prefix: $custom-property-prefix) {
    @if type-of($value) == map {
        @each $property, $property-value in $value {
            // Only support one-level of depth for values that are maps. This is to
            // avoid bringing properties like `breakpoints` on type tokens
            @if type-of($property-value) != map {
                @include custom-property('#{$name}-#{$property}', $property-value);
            }
        }
    } @else {
        --#{$prefix}-#{$name}: #{$value};
    }
}

@function should-emit($theme-a, $theme-b, $token, $emit-difference) {
    @if $emit-difference == false {
        @return true;
    }
    @return map-get($theme-a, $token) != map-get($theme-b, $token);
}

@mixin bonzai--theme(
  $theme: $bonzai--theme,
  $emit-custom-properties: true,
  $emit-difference: true
) {
  $ui-background: map-get($theme, 'ui-background') !global;
  $interactive-01: map-get($theme, 'interactive-01') !global;
  $interactive-02: map-get($theme, 'interactive-02') !global;
  $interactive-03: map-get($theme, 'interactive-03') !global;
  $interactive-04: map-get($theme, 'interactive-04') !global;
  $interactive-05: map-get($theme, 'interactive-05') !global;
  $text-01: map-get($theme, 'text-01') !global;
  $text-02: map-get($theme, 'text-02') !global;
  $text-03: map-get($theme, 'text-03') !global;
  $text-04: map-get($theme, 'text-04') !global;
  $text-05: map-get($theme, 'text-05') !global;
  $overlay-01: map-get($theme, 'overlay-01') !global;
  $danger: map-get($theme, 'danger') !global;
  $focus: map-get($theme, 'focus') !global;
  $hover-primary: map-get($theme, 'hover-primary') !global;
  $active-primary: map-get($theme, 'active-primary') !global;
  $hover-primary-text: map-get($theme, 'hover-primary-text') !global;
  $hover-secondary: map-get($theme, 'hover-secondary') !global;
  $active-secondary: map-get($theme, 'active-secondary') !global;
  $disabled-01: map-get($theme, 'disabled-01') !global;
  $brand-01: map-get($theme, 'brand-01') !global;
  $brand-02: map-get($theme, 'brand-02') !global;
  $ui-1: map-get($theme, 'ui-1') !global;
  $ui-2: map-get($theme, 'ui-2') !global;
  $ui-3: map-get($theme, 'ui-3') !global;
  $ui-4: map-get($theme, 'ui-4') !global;
  $ui-5: map-get($theme, 'ui-5') !global;
  $ui-6: map-get($theme, 'ui-6') !global;
  $ui-7: map-get($theme, 'ui-7') !global;
  $ui-8: map-get($theme, 'ui-8') !global;
  $ui-9: map-get($theme, 'ui-9') !global;
  $ui-10: map-get($theme, 'ui-10') !global;
//----------------------------------------------------------------------------
    @if global-variable-exists('feature-flags') and map-get($feature-flags, 'enable-css-custom-properties') {
        $ui-background: var(
            --#{$custom-property-prefix}-ui-background,
            map-get($theme, 'ui-background')
        ) !global;
    }
    @if global-variable-exists('feature-flags') and map-get($feature-flags, 'enable-css-custom-properties') {
        $interactive-01: var(
            --#{$custom-property-prefix}-interactive-01,
            map-get($theme, 'interactive-01')
        ) !global;
    }
    @if global-variable-exists('feature-flags') and map-get($feature-flags, 'enable-css-custom-properties') {
        $interactive-02: var(
            --#{$custom-property-prefix}-interactive-02,
            map-get($theme, 'interactive-02')
        ) !global;
    }
    @if global-variable-exists('feature-flags') and map-get($feature-flags, 'enable-css-custom-properties') {
        $interactive-03: var(
            --#{$custom-property-prefix}-interactive-03,
            map-get($theme, 'interactive-03')
        ) !global;
    }
    @if global-variable-exists('feature-flags') and map-get($feature-flags, 'enable-css-custom-properties') {
        $interactive-04: var(
            --#{$custom-property-prefix}-interactive-04,
            map-get($theme, 'interactive-04')
        ) !global;
    }
    @if global-variable-exists('feature-flags') and map-get($feature-flags, 'enable-css-custom-properties') {
        $interactive-05: var(
            --#{$custom-property-prefix}-interactive-05,
            map-get($theme, 'interactive-05')
        ) !global;
    }
    @if global-variable-exists('feature-flags') and map-get($feature-flags, 'enable-css-custom-properties') {
        $text-01: var(
            --#{$custom-property-prefix}-text-01,
            map-get($theme, 'text-01')
        ) !global;
    }
    @if global-variable-exists('feature-flags') and map-get($feature-flags, 'enable-css-custom-properties') {
        $text-02: var(
            --#{$custom-property-prefix}-text-02,
            map-get($theme, 'text-02')
        ) !global;
    }
    @if global-variable-exists('feature-flags') and map-get($feature-flags, 'enable-css-custom-properties') {
        $text-03: var(
            --#{$custom-property-prefix}-text-03,
            map-get($theme, 'text-03')
        ) !global;
    }
    @if global-variable-exists('feature-flags') and map-get($feature-flags, 'enable-css-custom-properties') {
        $text-04: var(
            --#{$custom-property-prefix}-text-04,
            map-get($theme, 'text-04')
        ) !global;
    }
    @if global-variable-exists('feature-flags') and map-get($feature-flags, 'enable-css-custom-properties') {
        $text-05: var(
            --#{$custom-property-prefix}-text-05,
            map-get($theme, 'text-05')
        ) !global;
    }
    @if global-variable-exists('feature-flags') and map-get($feature-flags, 'enable-css-custom-properties') {
        $overlay-01: var(
            --#{$custom-property-prefix}-overlay-01,
            map-get($theme, 'overlay-01')
        ) !global;
    }
    @if global-variable-exists('feature-flags') and map-get($feature-flags, 'enable-css-custom-properties') {
        $danger: var(
            --#{$custom-property-prefix}-danger,
            map-get($theme, 'danger')
        ) !global;
    }
    @if global-variable-exists('feature-flags') and map-get($feature-flags, 'enable-css-custom-properties') {
        $focus: var(
            --#{$custom-property-prefix}-focus,
            map-get($theme, 'focus')
        ) !global;
    }
    @if global-variable-exists('feature-flags') and map-get($feature-flags, 'enable-css-custom-properties') {
        $hover-primary: var(
            --#{$custom-property-prefix}-hover-primary,
            map-get($theme, 'hover-primary')
        ) !global;
    }
    @if global-variable-exists('feature-flags') and map-get($feature-flags, 'enable-css-custom-properties') {
        $active-primary: var(
            --#{$custom-property-prefix}-active-primary,
            map-get($theme, 'active-primary')
        ) !global;
    }
    @if global-variable-exists('feature-flags') and map-get($feature-flags, 'enable-css-custom-properties') {
        $hover-primary-text: var(
            --#{$custom-property-prefix}-hover-primary-text,
            map-get($theme, 'hover-primary-text')
        ) !global;
    }
    @if global-variable-exists('feature-flags') and map-get($feature-flags, 'enable-css-custom-properties') {
        $hover-secondary: var(
            --#{$custom-property-prefix}-hover-secondary,
            map-get($theme, 'hover-secondary')
        ) !global;
    }
    @if global-variable-exists('feature-flags') and map-get($feature-flags, 'enable-css-custom-properties') {
        $active-secondary: var(
            --#{$custom-property-prefix}-active-secondary,
            map-get($theme, 'active-secondary')
        ) !global;
    }
    @if global-variable-exists('feature-flags') and map-get($feature-flags, 'enable-css-custom-properties') {
        $disabled-01: var(
            --#{$custom-property-prefix}-disabled-01,
            map-get($theme, 'disabled-01')
        ) !global;
    }
    @if global-variable-exists('feature-flags') and map-get($feature-flags, 'enable-css-custom-properties') {
        $brand-01: var(
            --#{$custom-property-prefix}-brand-01,
            map-get($theme, 'brand-01')
        ) !global;
    }
    @if global-variable-exists('feature-flags') and map-get($feature-flags, 'enable-css-custom-properties') {
        $brand-02: var(
            --#{$custom-property-prefix}-brand-02,
            map-get($theme, 'brand-02')
        ) !global;
    }
    @if global-variable-exists('feature-flags') and map-get($feature-flags, 'enable-css-custom-properties') {
        $ui-1: var(
            --#{$custom-property-prefix}-ui-1,
            map-get($theme, 'ui-1')
        ) !global;
    }
    @if global-variable-exists('feature-flags') and map-get($feature-flags, 'enable-css-custom-properties') {
        $ui-2: var(
            --#{$custom-property-prefix}-ui-2,
            map-get($theme, 'ui-2')
        ) !global;
    }
    @if global-variable-exists('feature-flags') and map-get($feature-flags, 'enable-css-custom-properties') {
        $ui-3: var(
            --#{$custom-property-prefix}-ui-3,
            map-get($theme, 'ui-3')
        ) !global;
    }
    @if global-variable-exists('feature-flags') and map-get($feature-flags, 'enable-css-custom-properties') {
        $ui-4: var(
            --#{$custom-property-prefix}-ui-4,
            map-get($theme, 'ui-4')
        ) !global;
    }
    @if global-variable-exists('feature-flags') and map-get($feature-flags, 'enable-css-custom-properties') {
        $ui-5: var(
            --#{$custom-property-prefix}-ui-5,
            map-get($theme, 'ui-5')
        ) !global;
    }
    @if global-variable-exists('feature-flags') and map-get($feature-flags, 'enable-css-custom-properties') {
        $ui-6: var(
            --#{$custom-property-prefix}-ui-6,
            map-get($theme, 'ui-6')
        ) !global;
    }
    @if global-variable-exists('feature-flags') and map-get($feature-flags, 'enable-css-custom-properties') {
        $ui-7: var(
            --#{$custom-property-prefix}-ui-7,
            map-get($theme, 'ui-7')
        ) !global;
    }
    @if global-variable-exists('feature-flags') and map-get($feature-flags, 'enable-css-custom-properties') {
        $ui-8: var(
            --#{$custom-property-prefix}-ui-8,
            map-get($theme, 'ui-8')
        ) !global;
    }
    @if global-variable-exists('feature-flags') and map-get($feature-flags, 'enable-css-custom-properties') {
        $ui-9: var(
            --#{$custom-property-prefix}-ui-9,
            map-get($theme, 'ui-9')
        ) !global;
    }
    @if global-variable-exists('feature-flags') and map-get($feature-flags, 'enable-css-custom-properties') {
        $ui-10: var(
            --#{$custom-property-prefix}-ui-10,
            map-get($theme, 'ui-10')
        ) !global;
    }
//----------------------------------------------------------------------------
    @if $emit-custom-properties == true {
        @if should-emit($theme, $bonzai--theme, 'ui-background', $emit-difference)
        {
            @include custom-property(
                'ui-background',
                map-get($theme, 'ui-background')
            );
        }
    }
    @if $emit-custom-properties == true {
        @if should-emit($theme, $bonzai--theme, 'interactive-01', $emit-difference)
        {
            @include custom-property(
                'interactive-01',
                map-get($theme, 'interactive-01')
            );
        }
    }
    @if $emit-custom-properties == true {
        @if should-emit($theme, $bonzai--theme, 'interactive-02', $emit-difference)
        {
            @include custom-property(
                'interactive-02',
                map-get($theme, 'interactive-02')
            );
        }
    }
    @if $emit-custom-properties == true {
        @if should-emit($theme, $bonzai--theme, 'interactive-03', $emit-difference)
        {
            @include custom-property(
                'interactive-03',
                map-get($theme, 'interactive-03')
            );
        }
    }
    @if $emit-custom-properties == true {
        @if should-emit($theme, $bonzai--theme, 'interactive-04', $emit-difference)
        {
            @include custom-property(
                'interactive-04',
                map-get($theme, 'interactive-04')
            );
        }
    }
    @if $emit-custom-properties == true {
        @if should-emit($theme, $bonzai--theme, 'interactive-05', $emit-difference)
        {
            @include custom-property(
                'interactive-05',
                map-get($theme, 'interactive-05')
            );
        }
    }
    @if $emit-custom-properties == true {
        @if should-emit($theme, $bonzai--theme, 'text-01', $emit-difference)
        {
            @include custom-property(
                'text-01',
                map-get($theme, 'text-01')
            );
        }
    }
    @if $emit-custom-properties == true {
        @if should-emit($theme, $bonzai--theme, 'text-02', $emit-difference)
        {
            @include custom-property(
                'text-02',
                map-get($theme, 'text-02')
            );
        }
    }
    @if $emit-custom-properties == true {
        @if should-emit($theme, $bonzai--theme, 'text-03', $emit-difference)
        {
            @include custom-property(
                'text-03',
                map-get($theme, 'text-03')
            );
        }
    }
    @if $emit-custom-properties == true {
        @if should-emit($theme, $bonzai--theme, 'text-04', $emit-difference)
        {
            @include custom-property(
                'text-04',
                map-get($theme, 'text-04')
            );
        }
    }
    @if $emit-custom-properties == true {
        @if should-emit($theme, $bonzai--theme, 'text-05', $emit-difference)
        {
            @include custom-property(
                'text-05',
                map-get($theme, 'text-05')
            );
        }
    }
    @if $emit-custom-properties == true {
        @if should-emit($theme, $bonzai--theme, 'overlay-01', $emit-difference)
        {
            @include custom-property(
                'overlay-01',
                map-get($theme, 'overlay-01')
            );
        }
    }
    @if $emit-custom-properties == true {
        @if should-emit($theme, $bonzai--theme, 'danger', $emit-difference)
        {
            @include custom-property(
                'danger',
                map-get($theme, 'danger')
            );
        }
    }
    @if $emit-custom-properties == true {
        @if should-emit($theme, $bonzai--theme, 'focus', $emit-difference)
        {
            @include custom-property(
                'focus',
                map-get($theme, 'focus')
            );
        }
    }
    @if $emit-custom-properties == true {
        @if should-emit($theme, $bonzai--theme, 'hover-primary', $emit-difference)
        {
            @include custom-property(
                'hover-primary',
                map-get($theme, 'hover-primary')
            );
        }
    }
    @if $emit-custom-properties == true {
        @if should-emit($theme, $bonzai--theme, 'active-primary', $emit-difference)
        {
            @include custom-property(
                'active-primary',
                map-get($theme, 'active-primary')
            );
        }
    }
    @if $emit-custom-properties == true {
        @if should-emit($theme, $bonzai--theme, 'hover-primary-text', $emit-difference)
        {
            @include custom-property(
                'hover-primary-text',
                map-get($theme, 'hover-primary-text')
            );
        }
    }
    @if $emit-custom-properties == true {
        @if should-emit($theme, $bonzai--theme, 'hover-secondary', $emit-difference)
        {
            @include custom-property(
                'hover-secondary',
                map-get($theme, 'hover-secondary')
            );
        }
    }
    @if $emit-custom-properties == true {
        @if should-emit($theme, $bonzai--theme, 'active-secondary', $emit-difference)
        {
            @include custom-property(
                'active-secondary',
                map-get($theme, 'active-secondary')
            );
        }
    }
    @if $emit-custom-properties == true {
        @if should-emit($theme, $bonzai--theme, 'disabled-01', $emit-difference)
        {
            @include custom-property(
                'disabled-01',
                map-get($theme, 'disabled-01')
            );
        }
    }
    @if $emit-custom-properties == true {
        @if should-emit($theme, $bonzai--theme, 'brand-01', $emit-difference)
        {
            @include custom-property(
                'brand-01',
                map-get($theme, 'brand-01')
            );
        }
    }
    @if $emit-custom-properties == true {
        @if should-emit($theme, $bonzai--theme, 'brand-02', $emit-difference)
        {
            @include custom-property(
                'brand-02',
                map-get($theme, 'brand-02')
            );
        }
    }
    @if $emit-custom-properties == true {
        @if should-emit($theme, $bonzai--theme, 'ui-1', $emit-difference)
        {
            @include custom-property(
                'ui-1',
                map-get($theme, 'ui-1')
            );
        }
    }
    @if $emit-custom-properties == true {
        @if should-emit($theme, $bonzai--theme, 'ui-2', $emit-difference)
        {
            @include custom-property(
                'ui-2',
                map-get($theme, 'ui-2')
            );
        }
    }
    @if $emit-custom-properties == true {
        @if should-emit($theme, $bonzai--theme, 'ui-3', $emit-difference)
        {
            @include custom-property(
                'ui-3',
                map-get($theme, 'ui-3')
            );
        }
    }
    @if $emit-custom-properties == true {
        @if should-emit($theme, $bonzai--theme, 'ui-4', $emit-difference)
        {
            @include custom-property(
                'ui-4',
                map-get($theme, 'ui-4')
            );
        }
    }
    @if $emit-custom-properties == true {
        @if should-emit($theme, $bonzai--theme, 'ui-5', $emit-difference)
        {
            @include custom-property(
                'ui-5',
                map-get($theme, 'ui-5')
            );
        }
    }
    @if $emit-custom-properties == true {
        @if should-emit($theme, $bonzai--theme, 'ui-6', $emit-difference)
        {
            @include custom-property(
                'ui-6',
                map-get($theme, 'ui-6')
            );
        }
    }
    @if $emit-custom-properties == true {
        @if should-emit($theme, $bonzai--theme, 'ui-7', $emit-difference)
        {
            @include custom-property(
                'ui-7',
                map-get($theme, 'ui-7')
            );
        }
    }
    @if $emit-custom-properties == true {
        @if should-emit($theme, $bonzai--theme, 'ui-8', $emit-difference)
        {
            @include custom-property(
                'ui-8',
                map-get($theme, 'ui-8')
            );
        }
    }
    @if $emit-custom-properties == true {
        @if should-emit($theme, $bonzai--theme, 'ui-9', $emit-difference)
        {
            @include custom-property(
                'ui-9',
                map-get($theme, 'ui-9')
            );
        }
    }
    @if $emit-custom-properties == true {
        @if should-emit($theme, $bonzai--theme, 'ui-10', $emit-difference)
        {
            @include custom-property(
                'ui-10',
                map-get($theme, 'ui-10')
            );
        }
    }

    @content;
    // Reset to default theme after apply in content
    @if $theme != $bonzai--theme {
        @include bonzai--theme();
    }
}

//-------OTHER MIXINS----------

@function calculateRem($size) {
  $remSize: $size / $document-base-font-size;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculaterem($size);
}
