.#{$custom-property-prefix}--non-ideal-state {
    color: $non-ideal-state-color;

    & &__heading {
        margin: 0 0 30px 0;
        font-size: $non-ideal-state-font-size;
    }

    & &__message {
        margin-bottom: 20px;
    }
}
