.#{$custom-property-prefix}--select {
    position: relative;
    border-radius: 4px;

    & &__select {
        border: 1px solid $select-border-color;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
        background-color: $select-bg-color;
    }

    & &__option {
        font-size: 14px;
        font-weight: 400;
        color: $select-text-color;
        padding: 5px 10px;
        border-top: 1px solid $select-border-hover-color;

        &:hover {
            background: $select-border-hover-color;
        }
    }

    & &__option--highlighted {
        background: $select-border-hover-color;
    }

    & &__search {
        font-size: 14px;
        border: 1px solid $select-border-color;
        border-radius: $select-border-radius;
        background: $select-bg-color;
        background-clip: padding-box;
        color: $select-text-color;
        -webkit-font-smoothing: antialiased;
        outline: none;
        padding: $select-padding;
        letter-spacing: 0.6px;
        box-sizing: border-box;
        position: relative;
        width: 100%;

        &:hover {
            border: 1px solid $select-border-hover-color;
        }
    }

    &::before {
        content: '';
        pointer-events: none;
        position: absolute;
        width: 7px;
        height: 7px;
        border-top: 1px solid $select-border-hover-color;
        border-left: 1px solid $select-border-hover-color;
        z-index: 111111;
        right: 15px;
        top: 50%;
        transform: translateY(-75%) rotate(-135deg);
    }
}
