$custom-property-prefix: 'bz' !default;


$document-base-font-size: 16px !default;

//-----------------------Font Family Base-----------------------//

$font-family-sans-serif:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

//table default values
//table tag
$table-cell-padding: 5px;
$table-border-width: 1px;
$table-spacer: 0;
$table-accent-bg: $ui-4;
$table-hover-color: $interactive-01;
$table-hover-bg: $ui-background;
$table-striped-order: even;

//list-defaults
$list-bullet-url: "http://massets.bonzai.ad/internalAssets/2019/11/05/tick.png.png";
$list-bullet-char: "✓";
$list-bullet-color: $text-02;

//btn-defaults
$btn-hover-transition-time: 0.1s;

$btn-padding--primary: 7px 12px;
$btn-bg-color--primary: $interactive-01;
$btn-bg-color--primary-disabled: $disabled-01;
$btn-bg-color--primary-hover-disabled: $disabled-01;
$btn-text-color--primary-disabled: $text-05;
$btn-text-color--primary-disabled-hover: $text-05;
$btn-text-color--primary: $text-05;
$btn-border-radius--primary: 2px;
$btn-border-size--primary: 0;
$btn-border-color--primary: $interactive-01;
$btn-hover-bg-color--primary: $hover-primary;
$btn-hover-text-color--primary: $hover-primary-text;
$btn-text-transform--primary: uppercase;
$btn-font-size--primary: 12px;

$btn-padding--secondary: 7px 12px;
$btn-bg-color--secondary: $interactive-03;
$btn-bg-color--secondary-disabled: $disabled-01;
$btn-bg-color--secondary-hover-disabled: $disabled-01;
$btn-text-color--secondary-disabled: $text-01;
$btn-text-color--secondary-disabled-hover: $text-01;
$btn-text-color--secondary: $text-01;
$btn-border-radius--secondary: 2px;
$btn-border-size--secondary: 0;
$btn-border-color--secondary: $interactive-03;
$btn-hover-bg-color--secondary: $hover-secondary;
$btn-hover-text-color--secondary: $interactive-05;
$btn-text-transform--secondary: initial;
$btn-font-size--secondary: 12px;

$btn-padding--tertiary: 7px 12px;
$btn-bg-color--tertiary: transparent;
$btn-bg-color--tertiary-disabled: transparent;
$btn-bg-color--tertiary-hover-disabled: transparent;
$btn-text-color--tertiary-disabled: $text-04;
$btn-text-color--tertiary-disabled-hover: $text-04;
$btn-text-color--tertiary: $text-01;
$btn-border-radius--tertiary: 2px;
$btn-border-size--tertiary: 0;
$btn-border-color--tertiary: transparent;
$btn-hover-border-color--tertiary: hsl(204, 6.5, 96);
$btn-hover-bg-color--tertiary: hsl(204, 6.5, 96);
$btn-hover-text-color--tertiary: $text-02;
$btn-text-transform--tertiary: initial;
$btn-font-size--tertiary: 12px;

$btn-text-color--anchor: $text-01;
$btn-hover-text-color--anchor: $text-02;
$btn-font-size--anchor: 12px;

//tag defaults
$tag-font-size: 10px;
$tag-text-color: $ui-4;
$tag-bg-color: $ui-3;

//input defaults
$input-name-color: $text-01;
$input-border-color: $interactive-03;
$input-border-radius: 2px;
$input-bg-color: $interactive-05;
$input-text-color: $text-01;
$input-name-font-size: 12px;
$input-font-size: 14px;
$input-padding: 5px 10px;
$input-border-hover-color: $interactive-02;

$input-error-color: $danger;
$input-error-font-size: 12px;
$input-border-color-error: $danger;

$input-leadingicon-font-size: 12px;
$input-trailingicon-font-size: 12px;

//select defaults
$select-name-color: $text-01;
$select-border-color: $interactive-03;
$select-border-radius: 2px;
$select-bg-color: $interactive-05;
$select-text-color: $text-01;
$select-name-font-size: 12px;
$select-font-size: 14px;
$select-padding: 5px 10px;
$select-border-hover-color: $ui-4;

$select-error-color: $danger;
$select-error-font-size: 12px;
$select-border-color-error: $danger;
