.bz--select {
    position: relative;

    & &__select {
        display: none;
        position: absolute;
        top: 30px;
        left: 0;
        right: 0;
        overflow: auto;
        z-index: 100;
        min-height: 30px;
    }

    & &__select--show {
        display: block;
    }

    & &__options {
        margin: 0;
        padding: 0;
    }

    & &__option {
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        user-select: none;
    }

    & &__search {
        display: block;
        width: 100%;
        outline: none;
        -webkit-appearance: none;
        box-sizing: border-box;
        position: relative;
        z-index: 2;
        cursor: pointer;
    }

    input[type="search"]::-webkit-search-cancel-button {
        display: none;
    }
}
