.bz--search-wrapper {
    z-index: 10;
    width: 100%;

    &--minimal {
        border-bottom: 1px solid #d6d9db;
        .bz--input {
            border-color: transparent;
            background: transparent;

            &:hover {
                border-color: transparent;
            }
        }
    }

    &--large {
        .bz--input-container {
            padding: 10px;
        }

        .bz--input {
            font-size: 20px;
        }

        .bz--btn {
            font-size: 20px;
        }
    }

    &__button {
        height: 100%;

        img {
            height: 100%;
            width: auto;
        }
    }

    .bz--input::placeholder {
        opacity: 0.5;
    }
    input:focus::placeholder {
        color: transparent;
    }

    .active {
        border-top-left-radius: 2px;
        box-shadow: 0px -1px 5px -1px rgba(0, 0, 0, 0.1);
        border-top-right-radius: 2px;
        border: 1px solid #d6d9db;
        border-bottom: none;
    }

    .dropdown {
        position: absolute;
        width: 100%;
        border-top: 1px solid #d6d9db;
        border-radius: 2px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        padding-bottom: 5px;
        background: #fff;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);

        .bz--selected {
            background: #dcdcdc;
        }
    }
}
